<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Request</title>
</head>
<body style="font-family: Helvetica, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #2f5c4a; padding: 10px;">
        <tr>
            <!-- Left Column: Logo -->
            <td align="left" width="50%" style="padding: 10px;">
                <img src="{{ logo_url }}" alt="Logo" width="200" style="display: block;">
            </td>
            <!-- Right Column: Title or Navigation Links -->
            <td align="right" width="50%" style="padding: 10px; color: #ffffff; font-family: Helvetica,sans-serif;">
                <h2 style="margin: 0; font-size: 24px;">Africa Rangeland Watch</h2>
                <!-- Optional: Add links or other content here -->
            </td>
        </tr>
    </table> 
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="background-color: #ffffff; padding: 20px; border: 10px solid #dddddd;">
        <tr>
            <td style="padding: 20px;">
                <h2 style="font-size: 20px; color: #333333;">Reset Password Request</a></h2>
               
                <p style="font-size: 16px; color: #333333;">
                    Dear User,
                </p>
                <p style="font-size: 16px; color: #333333;">
                    We received a request to reset the password for your Africa Rangeland Watch account. If you made this request, simply click the link below to reset your password:
                </p>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" style="padding: 20px 0;">
                            <a href="{{ reset_password_url }}" style="background-color: #FFA500; color: #ffffff; padding: 15px 50px; text-decoration: none; font-size: 16px; border-radius: 5px;">Reset Password</a>
                        </td>
                    </tr>
                </table>
                <p style="font-size: 16px; color: #333333;">
                    If you didn’t request a password reset, please ignore this email, and your password will remain the same.
                </p>
                <p style="font-size: 16px; color: #333333;">
                    If you need any further assistance, feel free to contact us at <a href="mailto:[Support Email]" style="color: #FFA500;">[Support Email]</a>.
                </p>
                <p style="font-size: 16px; color: #333333;">
                    Thank you,
                    <br>The Africa Rangeland Watch Team
                </p>
            </td>
        </tr>
            <td style="padding: 10px; text-align: center; font-size: 14px; color: #999999;">
                <p>Find the platform here <a href="{{ django_backend_url }}" style="color: #FFA500;">Africa Rangeland Watch</a>. Not interested in emails from us? <a href="[Unsubscribe Link]" style="color: #FFA500;">Unsubscribe here</a>.</p>
            </td>
        </tr>
    </table>
</body>
</html>
